body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    margin: 6px 50px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.left-header,.right-header{
    display: flex;
    flex: 5;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.left-header{
    justify-content: left;
    padding: 0 20px;
}

.address{
    margin-left: 30px;
    display: flex;
    cursor: pointer;
    
}
.short{
    color : #3d4152;
    font-weight: 700;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    
}
.short:hover{
    color: #fc8019;
    fill : #fc8019;
}

.long{
    display: block;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}
.long:hover{
    color: #afb0b4;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-right: 30px;
    cursor: pointer
}
.nav-item:hover{
    color: #fc8019;
    fill : #fc8019;
}
sup{
    color: #fc8019;
}
.nav-item span{
    display: flex;
}
.banner{
    background-color: #171a29;
}
.banner-cards{
padding: 40px 80px; 
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 6px;
position: relative;
}

.banner-cards a:hover{
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
}


.button{
    position: absolute;
    display: flex;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 75px;
}